@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: 'Poppins', sans-serif;
}
:root {
	view-transition-name: none;
}
.active-nav {
	@apply bg-indigo-700 text-white cursor-default;
}
.active-nav::after {
	content: '';
	width: 0px;
	height: 0px;
	position: absolute;
	transform: translate(58px, calc(50% - -4px));
	border: 10px solid transparent;
	@apply dark:border-r-zinc-800 border-r-white;
	view-transition-name: indicator;
}
@layer utilities {
	*::-webkit-scrollbar {
		width: 4px;
	}

	*::-webkit-scrollbar-thumb {
		background-color: #bec5cf;
		border-radius: 6px;
	}

	*::-webkit-scrollbar-track {
		background-color: #ebeef0;
		border-radius: 6px;
	}
}
