@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: 'Poppins', sans-serif;
}
body {
	overflow: hidden;
}
:root {
	view-transition-name: none;
}
.active-nav {
	@apply bg-indigo-700 text-white cursor-default;
}
.active-nav::after {
	content: '';
	width: 0px;
	height: 0px;
	position: absolute;
	border: 10px solid transparent;
	@apply lg:dark:border-r-indigo-700 lg:border-r-white  lg:translate-x-[60px] lg:translate-y-[calc(50%--4px)] transition-all;
	view-transition-name: indicator;
}
@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}
